ascent-demo-partner/src/main/resources/xsd/PersonService/PersonWebService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.3-07/10/2008 08:41 PM(bt). -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.3-07/10/2008 08:41 PM(bt). -->
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://person.services.vetsnet.vba.va.gov/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://person.services.vetsnet.vba.va.gov/" name="PersonWebService">
	<types>
		<xsd:schema>
			<xsd:import namespace="http://person.services.vetsnet.vba.va.gov/" schemaLocation="PersonWebService.xsd"/>
		</xsd:schema>
	</types>
	<message name="findPersonBySSN">
		<part name="parameters" element="tns:findPersonBySSN"/>
	</message>
	<message name="findPersonBySSNResponse">
		<part name="parameters" element="tns:findPersonBySSNResponse"/>
	</message>
	<message name="MessageException">
		<part name="fault" element="tns:MessageException"/>
	</message>
	<message name="findPersonByPtcpntId">
		<part name="parameters" element="tns:findPersonByPtcpntId"/>
	</message>
	<message name="findPersonByPtcpntIdResponse">
		<part name="parameters" element="tns:findPersonByPtcpntIdResponse"/>
	</message>
	<message name="findPersonByFileNumber">
		<part name="parameters" element="tns:findPersonByFileNumber"/>
	</message>
	<message name="findPersonByFileNumberResponse">
		<part name="parameters" element="tns:findPersonByFileNumberResponse"/>
	</message>
	<message name="findRelationships">
		<part name="parameters" element="tns:findRelationships"/>
	</message>
	<message name="findRelationshipsResponse">
		<part name="parameters" element="tns:findRelationshipsResponse"/>
	</message>
	<message name="findRelationshipsByFileNumberRelationshipType">
		<part name="parameters" element="tns:findRelationshipsByFileNumberRelationshipType"/>
	</message>
	<message name="findRelationshipsByFileNumberRelationshipTypeResponse">
		<part name="parameters" element="tns:findRelationshipsByFileNumberRelationshipTypeResponse"/>
	</message>
	<message name="findRelationshipsByPtcpntIdRelationshipType">
		<part name="parameters" element="tns:findRelationshipsByPtcpntIdRelationshipType"/>
	</message>
	<message name="findRelationshipsByPtcpntIdRelationshipTypeResponse">
		<part name="parameters" element="tns:findRelationshipsByPtcpntIdRelationshipTypeResponse"/>
	</message>
	<message name="findPersonsBySsns">
		<part name="parameters" element="tns:findPersonsBySsns"/>
	</message>
	<message name="findPersonsBySsnsResponse">
		<part name="parameters" element="tns:findPersonsBySsnsResponse"/>
	</message>
	<message name="findPersonsByFileNumbers">
		<part name="parameters" element="tns:findPersonsByFileNumbers"/>
	</message>
	<message name="findPersonsByFileNumbersResponse">
		<part name="parameters" element="tns:findPersonsByFileNumbersResponse"/>
	</message>
	<message name="findPersonsByPtcpntIds">
		<part name="parameters" element="tns:findPersonsByPtcpntIds"/>
	</message>
	<message name="findPersonsByPtcpntIdsResponse">
		<part name="parameters" element="tns:findPersonsByPtcpntIdsResponse"/>
	</message>
	<message name="findPtcpntIdByPtcpntId">
		<part name="parameters" element="tns:findPtcpntIdByPtcpntId"/>
	</message>
	<message name="findPtcpntIdByPtcpntIdResponse">
		<part name="parameters" element="tns:findPtcpntIdByPtcpntIdResponse"/>
	</message>
	<message name="insertPerson">
		<part name="parameters" element="tns:insertPerson"/>
	</message>
	<message name="insertPersonResponse">
		<part name="parameters" element="tns:insertPersonResponse"/>
	</message>
	<message name="updatePerson">
		<part name="parameters" element="tns:updatePerson"/>
	</message>
	<message name="updatePersonResponse">
		<part name="parameters" element="tns:updatePersonResponse"/>
	</message>
	<portType name="PersonWebService">
		<operation name="findPersonBySSN">
			<input message="tns:findPersonBySSN"/>
			<output message="tns:findPersonBySSNResponse"/>
			<fault message="tns:MessageException" name="MessageException"/>
		</operation>
		<operation name="findPersonByPtcpntId">
			<input message="tns:findPersonByPtcpntId"/>
			<output message="tns:findPersonByPtcpntIdResponse"/>
			<fault message="tns:MessageException" name="MessageException"/>
		</operation>
		<operation name="findPersonByFileNumber">
			<input message="tns:findPersonByFileNumber"/>
			<output message="tns:findPersonByFileNumberResponse"/>
			<fault message="tns:MessageException" name="MessageException"/>
		</operation>
		<operation name="findRelationships">
			<input message="tns:findRelationships"/>
			<output message="tns:findRelationshipsResponse"/>
			<fault message="tns:MessageException" name="MessageException"/>
		</operation>
		<operation name="findRelationshipsByFileNumberRelationshipType">
			<input message="tns:findRelationshipsByFileNumberRelationshipType"/>
			<output message="tns:findRelationshipsByFileNumberRelationshipTypeResponse"/>
			<fault message="tns:MessageException" name="MessageException"/>
		</operation>
		<operation name="findRelationshipsByPtcpntIdRelationshipType">
			<input message="tns:findRelationshipsByPtcpntIdRelationshipType"/>
			<output message="tns:findRelationshipsByPtcpntIdRelationshipTypeResponse"/>
			<fault message="tns:MessageException" name="MessageException"/>
		</operation>
		<operation name="findPersonsBySsns">
			<input message="tns:findPersonsBySsns"/>
			<output message="tns:findPersonsBySsnsResponse"/>
			<fault message="tns:MessageException" name="MessageException"/>
		</operation>
		<operation name="findPersonsByFileNumbers">
			<input message="tns:findPersonsByFileNumbers"/>
			<output message="tns:findPersonsByFileNumbersResponse"/>
			<fault message="tns:MessageException" name="MessageException"/>
		</operation>
		<operation name="findPersonsByPtcpntIds">
			<input message="tns:findPersonsByPtcpntIds"/>
			<output message="tns:findPersonsByPtcpntIdsResponse"/>
			<fault message="tns:MessageException" name="MessageException"/>
		</operation>
		<operation name="findPtcpntIdByPtcpntId">
			<input message="tns:findPtcpntIdByPtcpntId"/>
			<output message="tns:findPtcpntIdByPtcpntIdResponse"/>
			<fault message="tns:MessageException" name="MessageException"/>
		</operation>
		<operation name="insertPerson">
			<input message="tns:insertPerson"/>
			<output message="tns:insertPersonResponse"/>
			<fault message="tns:MessageException" name="MessageException"/>
		</operation>
		<operation name="updatePerson">
			<input message="tns:updatePerson"/>
			<output message="tns:updatePersonResponse"/>
			<fault message="tns:MessageException" name="MessageException"/>
		</operation>
	</portType>
	<binding name="PersonWebServicePortBinding" type="tns:PersonWebService">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
		<operation name="findPersonBySSN">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="MessageException">
				<soap:fault name="MessageException" use="literal"/>
			</fault>
		</operation>
		<operation name="findPersonByPtcpntId">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="MessageException">
				<soap:fault name="MessageException" use="literal"/>
			</fault>
		</operation>
		<operation name="findPersonByFileNumber">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="MessageException">
				<soap:fault name="MessageException" use="literal"/>
			</fault>
		</operation>
		<operation name="findRelationships">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="MessageException">
				<soap:fault name="MessageException" use="literal"/>
			</fault>
		</operation>
		<operation name="findRelationshipsByFileNumberRelationshipType">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="MessageException">
				<soap:fault name="MessageException" use="literal"/>
			</fault>
		</operation>
		<operation name="findRelationshipsByPtcpntIdRelationshipType">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="MessageException">
				<soap:fault name="MessageException" use="literal"/>
			</fault>
		</operation>
		<operation name="findPersonsBySsns">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="MessageException">
				<soap:fault name="MessageException" use="literal"/>
			</fault>
		</operation>
		<operation name="findPersonsByFileNumbers">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="MessageException">
				<soap:fault name="MessageException" use="literal"/>
			</fault>
		</operation>
		<operation name="findPersonsByPtcpntIds">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="MessageException">
				<soap:fault name="MessageException" use="literal"/>
			</fault>
		</operation>
		<operation name="findPtcpntIdByPtcpntId">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="MessageException">
				<soap:fault name="MessageException" use="literal"/>
			</fault>
		</operation>
		<operation name="insertPerson">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="MessageException">
				<soap:fault name="MessageException" use="literal"/>
			</fault>
		</operation>
		<operation name="updatePerson">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="MessageException">
				<soap:fault name="MessageException" use="literal"/>
			</fault>
		</operation>
	</binding>
	<service name="PersonWebService">
		<port name="PersonWebServicePort" binding="tns:PersonWebServicePortBinding">
			<soap:address location="http://linktestbepbenefits.vba.va.gov:80/PersonWebServiceBean/PersonWebService"/>
		</port>
	</service>
</definitions>